{% block title %}Hello ActivationController!{% endblock %}

{% block body %}
    <h1>Hello ActivationController!</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/activation.js') }}"></script>
{% endblock %}
```

