name: API Platform Workflow

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Install Composer Dependencies
        run: |
          cd backend/api && composer install --no-scripts --no-interaction

      - name: Run Tests
        run: |
          cd backend/api && bin/phpunit

  deploy:
    runs-on: ubuntu-latest
    environment:
      name: Production
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up SSH Agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create .env.local File
        env:
          JWT_PASSPHRASE: ${{ secrets.JWT_PASSPHRASE }}
          MAILER_DSN: ${{ secrets.MAILER_DSN }}
          WEBSITE_URI: ${{ secrets.WEBSITE_URI }}
        run: |
          envsubst < backend/api/.env.local.template > backend/api/.env.local

      - name: Add SSH Key to Known Hosts
        run: ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy with Docker
        env:
          SERVER_SSH: ${{ secrets.SERVER_SSH }}
          SERVER_PATH: ${{ secrets.SERVER_PATH }}
        run: |
          scp -r ./backend ${{ env.SERVER_SSH }}:${{ env.SERVER_PATH }}
          ssh ${{ env.SERVER_SSH }} 'cd ${{ env.SERVER_PATH }} && docker-compose up -d --build'
